/* Default styles */

#fade-in {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#title {
  font-size: 48px;
}

#logo {
  font-size: 64px;
}

.button {
  font-size: 24px;
}


.hidden {
	opacity: 0;
	transition: opacity 3s ease-in-out;
}


.button {
	display: inline-block;
	padding: 10px;
	margin: 0 10px;
	background-color: white;
	color: black;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

.button:hover {
	background-color: #f2f2f2;
}

.home-button {
	background-color: #4CAF50;
	color: white;
}

.home-button:hover {
	background-color: #3e8e41;
}

.images-button {
	background-color: #008CBA;
	color: white;
}

.images-button:hover {
	background-color: #0072ad;
}

/* Mobile styles */

@media screen and (max-width: 480px) {
  #qr-code {
    width: 80%;
  }
  
  #title {
    font-size: 36px;
    margin-top: 20px;
  }
  
  #text {
    font-size: 24px;
  }
  
  .button {
    font-size: 18px;
    padding: 15px;
    margin: 20px;
  }
}
