body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: black;
  z-index: 1;
}

#image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 350px;
  z-index: 1;
}

#content {
  margin-top: -100vh;
  height: 200vh;
  background-color: white;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
  animation: scrollup 5s forwards;
  opacity: 0;
}

@keyframes scrollup {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-100vh);
    opacity: 1;
  }
}

#buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: appear 7s forwards;
}

#buttons button {
  font-size: 2rem;
  padding: 10px 20px;
  margin: 0 20px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #hello {
    font-size: 2rem;
  }

  #image {
    max-width: 300px;
    max-height: 300px;
  }

  #text {
    font-size: 2rem;
  }

  #buttons button {
    font-size: 1.5rem;
    padding: 8px 16px;
    margin: 0 10px;
  }
}
